@import 'nib'

global-reset()

body
  font-family 'Helvetica'
  color #000
  min-width 960px
  a
    cursor pointer
    text-decoration none
    color #fff
    &:visited
      color #fff


.inner
  position relative
  width 940px
  height 100%
  margin 0 auto
  background rgba(33,33,33,0.1)





.menu
  height 130px
  background #307cbc
  text-align center
  position relative
  color #fff
  text-transform uppercase
  font-size 13px
  ul
    margin 0 auto
    display inline-block
    li
      display inline-block
      width 80px
      margin-top 56px
      margin-left 24px
      &:nth-child(3)
        margin-left 168px
      &:nth-child(1)
        margin-left 0px

  .logo
    position absolute
    left 50%
    top 50%
    transform translate(-50%,-50%)
    margin-top 8px


.submenu
  height 36px
  background #000
  text-align center
  font-size 14px

  ul
    margin 0 auto
    display inline-block
    li
      display inline-block
      transition all 0.25s ease-in-out
      margin 0
      a
        transition all 0.25s ease-in-out
        display inline-block
        padding 11px 35px 11px 35px
        &:visited
          color #fff
        &:hover
          color #000
      &:hover
        background #fff
        color #000


.categories
  text-align center
  ul
    display inline-block
    margin-top 33px
    li
      display inline-block
      margin 0 7px 0 7px
      a
        transition all 0.25s ease-in-out
        color #939393
        display inline-block
        padding 4px 8px 4px 8px
        background #fff
        font-size 13px
        &:visited
          color #939393
        &:hover
          background #000
          color #fff

.bikes
  .bike
    display: inline-block


.main
  background: linear-gradient(bottom, #307cbc, #64d2f2)

















