doctype html
head
  meta(name="viewport" content="width=device-width")

  link(rel="stylesheet" href="stylesheets/app.css")

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")

  script.
    require('initialize');


body
  .menu
    .inner
      ul
        li
          a(href="#") прокат
        li
          a(href="#") инфо
        li
          a(href="#") галерея
        li
          a(href="#") контакты
      .logo
       img(src="/i/logo.png")
  .submenu.fix
    .inner
      ul
        li
          a(href="#") велики
        li
          a(href="#") ролики
        li
          a(href="#") самокаты
        li
          a(href="#") сноуборды
        li
          a(href="#") фото/видео
        li
          a(href="#") туризм
        li
          a(href="#") отдых
  .content
    .inner
      .categories
        ul
          li
            a(href="#") все
          li
            a(href="#") спортивные
          li
            a(href="#") городские
          li
            a(href="#") детские
      .bikes
        .bike
          img(src="i/schwinn.jpg")
          p.model Schwinn Corvette
          h3.model Schwinn Corvette
          p.text
            | Стильный и мощный хардтейл бренда GT для кросс-кантри —&nbsp;
            | GT Aggressor. Предназначен для велопрогулок по городским улицам
            | и скверам и прекрасно адаптирован для несложных лесных велопоходов.
          .button забронировать
        .bike
          img(src="i/gt.jpg")
          p.model GT Aggressor
          h3.model GT Aggressor
          p.text
            | Стильный и мощный хардтейл бренда GT для кросс-кантри —&nbsp;
            | GT Aggressor. Предназначен для велопрогулок по городским улицам
            | и скверам и прекрасно адаптирован для несложных лесных велопоходов.
          .button забронировать
        .bike
          img(src="i/schwinn.jpg")
          p.model Schwinn Corvette
          h3.model Schwinn Corvette
          p.text
            | Стильный и мощный хардтейл бренда GT для кросс-кантри —&nbsp;
            | GT Aggressor. Предназначен для велопрогулок по городским улицам
            | и скверам и прекрасно адаптирован для несложных лесных велопоходов.
          .button забронировать
        .bike
          img(src="i/gt.jpg")
          p.model GT Aggressor
          h3.model GT Aggressor
          p.text
            | Стильный и мощный хардтейл бренда GT для кросс-кантри —&nbsp;
            | GT Aggressor. Предназначен для велопрогулок по городским улицам
            | и скверам и прекрасно адаптирован для несложных лесных велопоходов.
          .button забронировать
        .bike
          img(src="i/schwinn.jpg")
          p.model Schwinn Corvette
          h3.model Schwinn Corvette
          p.text
            | Стильный и мощный хардтейл бренда GT для кросс-кантри —&nbsp;
            | GT Aggressor. Предназначен для велопрогулок по городским улицам
            | и скверам и прекрасно адаптирован для несложных лесных велопоходов.
          .button забронировать
        .bike
          img(src="i/gt.jpg")
          p.model GT Aggressor
          h3.model GT Aggressor
          p.text
            | Стильный и мощный хардтейл бренда GT для кросс-кантри —&nbsp;
            | GT Aggressor. Предназначен для велопрогулок по городским улицам
            | и скверам и прекрасно адаптирован для несложных лесных велопоходов.
          .button забронировать



  .social
    .footer
      .inner
    .inner




