doctype html
head
  meta(name="viewport" content="width=device-width")

  link(rel="stylesheet" href="stylesheets/app.css")

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")
  script(src="http://maps.googleapis.com/maps/api/js?sensor=false")

  script.
    require('js/initialize');
    require('js/catalog');
    require('js/contacts');



body
  .coin
  .menu
    .inner
      ul
        li
          a(href="catalog.html") прокат
        li
          a(href="terms.html") инфо
        li
          a(href="gallery.html") галерея
        li
          a(href="contacts.html") контакты
      .logo
        a(href="index.html")
          img(src="/i/logo.png")

  .contentt
    #map_canvas
    .innerrr
      .white_block
        p <span class="big">5</span> пунктов проката
        p в Ростове-на-Дону
        ul.point1
          li.fst(style="display:block;")
            | "Центральный велопрокат"
            br
            | ул. Суворова 52а,
            br
            | тел. 268-12-58, +79515010209
            br
            | ежедневно, круглосуточно
          li(style="display:none;")
            | "Прокат на городском пляже"
            br
            | ул. Левобережная 1в,
            br
            | тел. 265-16-95, +79043419977
          li(style="display:none;")
            | "Велопрокат на Каскадной"
            br
            | ул. Каскадная 96,
            br
            | тел. 260-06-82, +79043429979
          li(style="display:none;")
            | "Прокат на пляже Каррера"
            br
            | ул. Пескова 17,
            br
            | p тел. 256-77-28, +79034067728
          li(style="display:none;")
            | "Велопрокат на Театральной"
            br
            | ул. Театральная площадь 1,
            br
            | тел. 256-43-26, +79034064326
        ul.point2
          li(style="display:none;")
            p "Центральный велопрокат"
            //- p ул. Суворова 52а,
            //- p тел. 268-12-58, +79515010209
            //- p ежедневно, круглосуточно
          li
            p "Прокат на городском пляже"
            //- p ул. Левобережная 1в,
            //- p тел. 265-16-95, +79043419977
          li
            p "Велопрокат на Каскадной"
            //- p ул. Каскадная 96,
            //- p тел. 260-06-82, +79043429979
          li
            p "Прокат на пляже Каррера"
            //- p ул. Пескова 17,
            //- p тел. 256-77-28, +79034067728
          li
            p "Велопрокат на Театральной"
            //- p ул. Театральная площадь 1,
            //- p тел. 256-43-26, +79034064326









  .social.relative
    .footer.relative
      .inner
        .left
          p служба проката.
          p Ростов-на-Дону.
        .middle
          p заказ по телефону
          p 256-43-26
        .right
          .bag
            .icon
              include assets/i/check.svg

            p оформить
            p заказ
    .inner
      .vk
        a.logo(src="vk.com/prokatvrostove")
          img(src="i/vk.png")
        script(type='text/javascript', src='//vk.com/js/api/openapi.js?113')
        #vk_groups
        script.
          VK.Widgets.Group("vk_groups", {
            mode: "0",
            width: "300",
            height: "360",
            color1: "307cbc",
            color2: "FFFFFF",
            color3: "ffffff"
          }
          , 10802362);

      .like
        img(src="i/likeit.png")

      .fb
        .people 555 people like
        .container
          iframe(src='//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fprokatvrostove&width=380&height=380&colorscheme=dark&show_faces=true&header=false&stream=false&show_border=false&appId=216056395225405', scrolling='no', frameborder='0', style='border: none; overflow: hidden; width: 300px; height: 258px;', allowtransparency='true')








