
@import 'nib'

global-reset()

body
  font-family 'Helvetica'
  color #000
  min-width 960px
  a
    cursor pointer
    text-decoration none
    color #fff
    &:visited
      color #fff


.inner
  position relative
  width 940px
  height 100%
  margin 0 auto

.main
  background: linear-gradient(to top, #64d2f2, #307cbc)
  height 100%
  position absolute
  top 130px
  width 100%
  margin-top -130px
  z-index 2
  .disp
    display block !important
  .arrow
  	height 80px
  	width 40px
  	position absolute
  	top 380px
  	z-index 55
  	cursor pointer
  .left_arrow
    background: url(../i/strela.svg) no-repeat center center
    background-size 100% 100%
    transform rotate(180deg)
    display none
    left 10px
  .right_arrow
    background: url(../i/strela.svg) no-repeat center center
    background-size 100% 100%
    right 10px
    display none
  .dot_block
    width 165px
    height 30px
    position absolute
    top 650px
    left 50%
    transform translate(-50%,0)
    ul
    margin 0 auto
    margin-left 5px
    display inline-block
    li
      display inline-block
      width 15px
      height 15px
      margin-top 5px
      margin-left 5px
      &:nth-child(1)
        margin-left 0px
      div
        width 5px
        height 5px
        background white
        border 2px solid white
        border-radius 25px
        cursor pointer
        &:hover, &:active
          width 13px
          height 13px
          border 2px solid white
          border-radius 25px
          background none
          margin-top -4px
          margin-left -4px
      .active
        width 13px
        height 13px
        border 2px solid white
        border-radius 25px
        background none
        margin-top -4px
        margin-left -4px
  .title
  	p
     font-size 160px
     text-align center
     color #fff
     z-index 49
     position absolute
   	 top 200px
     left 50%
     transform translate(-50%,0)
     margin-top 120px
     font-family HelveticaNeue Bold
  .bikes
    ._content
      background: url(../i/bike.png) no-repeat center center
  .rolls
    display none
    ._content
      background: url(../i/rolls.png) no-repeat center center
  .namer
     width 120px
     height 40px
     position absolute
   	 top 570px
     left 50%
     transform translate(-50%,0)
     color #fff
     text-align center
     line-height 1.5
     font-family GalsC
     .name
     	p
     	  font-size 16px
     .allmodel
     	p
     	  font-size 12px

 ._content
   height 400px
   width 640px
   position absolute
   top 200px
   left 50%
   transform translate(-50%,0)  
   z-index 50


.menu.index
	z-index 3
	background none
