doctype html
head
  meta(name="viewport" content="width=device-width")

  link(rel="stylesheet" href="stylesheets/app.css")

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")

  script.
    require('initialize');
    require('index');

body
  .menu.index
    .inner
      ul
        li
          a прокат
        li
          a инфо
        li
          a галерея
        li
          a контакты
      .logo
       img(src="/i/logo.png")
  .main
    .inner
      .arrow.left_arrow
      .arrow.right_arrow.disp
      .dot_block
        ul
          li
            div.dot1.active
          li
            div.dot2
          li
            div.dot3
          li
            div.dot4
          li
            div.dot5
          li
            div.dot6
          li
            div.dot7
      .bikes
        .title
          p велики
        ._content
        .namer
          .name
            p Schwinn Corvette
          .allmodel
            p все модели
      .rolls
        .title
          p ролики
        ._content
        .namer
          .name
            p Schwinn Corvette
          .allmodel
            p все модели
