
@import 'nib'

global-reset()

.main
  background: linear-gradient(to top, #64d2f2, #307cbc)
  height 100%
  position absolute
  top 130px
  width 100%
  margin-top -130px
  z-index 2
  .arrow
  	height 80px
  	width 40px
  	position absolute
  	top 380px
  	z-index 55
  	cursor pointer
  .left_arrow
    background: url(../i/strela.svg) no-repeat center center
    background-size 100% 100%
    transform rotate(180deg)
    left 10px
  .right_arrow
    background: url(../i/strela.svg) no-repeat center center
    background-size 100% 100%
    
    right 10px

  .title
  	p
     font-size 160px
     text-align center
     color #fff
     z-index 49
     position absolute
   	 top 200px
     left 50%
     transform translate(-50%,0)
     margin-top 120px
     font-family HelveticaNeue Bold
  .namer
     width 120px
     height 40px
     position absolute
   	 top 570px
     left 50%
     transform translate(-50%,0)
     color #fff
     text-align center
     line-height 1.5
     font-family GalsC
     .name
     	p
     	  font-size 16px
     .allmodel
     	p
     	  font-size 12px

 .bike_content
   height 400px
   width 640px
   position absolute
   top 200px
   left 50%
   transform translate(-50%,0)
   background: url(../i/bike.png) no-repeat center center
   z-index 50


.menu
	z-index 3
	background none
