doctype html
head
  meta(name="viewport" content="width=device-width")

  link(rel="stylesheet" href="stylesheets/app.css")

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")

  script.
    require('initialize');
    require('index');

body
  .menu.index
    .inner
      ul
        li
          a прокат
        li
          a инфо
        li
          a галерея
        li
          a контакты
      .logo
       img(src="/i/logo.png")
  .main
    .inner
      .arrow.left_arrow
      .arrow.right_arrow
      .dot_block
        ul
          li
            .dot.active
          li
            .dot
          li
            .dot
          li
            .dot
          li
            .dot
          li
            .dot
          li
            .dot
      .slider
        .slide.bikes
          .title
            p велики
          ._content
          .namer
            .name
              p Schwinn Corvette
            .allmodel
              p все модели
        .slide.rolls
          .title
            p ролики
          ._content
          .namer
            .name
              p Schwinn Corvette
            .allmodel
              p все модели
