doctype html
head
  meta(name="viewport" content="width=device-width")

  link(rel="stylesheet" href="stylesheets/app.css")

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")

  script.
    require('initialize');


body
  .menu
    .inner
      ul
        li
          a прокат
        li
          a инфо
        li
          a галерея
        li
          a контакты
      .logo
       img(src="/i/logo.png")
  .submenu
    .inner
      ul
        li
          a(href="#") велики
        li
          a(href="#") ролики
        li
          a(href="#") самокаты
        li
          a(href="#") сноуборды
        li
          a(href="#") фото/видео
        li
          a(href="#") туризм
        li
          a(href="#") отдых







