doctype html
head
  meta(name="viewport" content="width=device-width")

  link(rel="stylesheet" href="stylesheets/app.css")

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")

  script.
    require('js/initialize');
    require('js/price');



body
  .price
    .menu
      .inner
        ul
          li
            a(href="#") прокат
          li
            a(href="#") инфо
          li
            a(href="#") галерея
          li
            a(href="#") контакты
        .logo
         img(src="/i/logo.png")
    .submenu.fix
      .inner
        ul
          li
            a(href="#") условия
          li
            a(href="#") прайс
          li
            a(href="#") инструкция по безопасности
    .content
      .inner
        h4.frst ПРОКАТ ВЕЛОСИПЕДОВ
        p Вы можете арендовать любой понравившийся Вам велосипед, и использовать его ровно столько, сколько Вам это необходимо. Демократичные цены нашего проката позволят Вам насладиться радостью вело-прогулки в не зависимости от социального статуса и полноты кармана. Именно поэтому мы предусмотрели специальную стоимость для студентов и школьников.
        table
          thead
            tr
              td.col1
              td
                p(title="Час – это час. Минимальный срок аренды оборудования в нашем прокате.") час
              td
                p(title="День – это неограниченное количество прокатных часов во временном промежутке с 9:00 до 21:00.") день
                  span(title="Ночь – это почти как день только, наоборот - с 21:00 до 9:00.") /ночь
              td
                p(title="Сутки – в нашем вело-прокате действуют очень необычные сутки - в наших сутках не 24 часа, а целых 36 - это значит, что когда вы берете велосипед на сутки вы можете арендовать его утром одного дня, а вернуть вечером следующего. Другими словами наши сутки - это два дня + ночь. Мы не на олимпе и конечно же не боги, но в отдельных случаях мы можем управлять временем, и сдвигать его рамки.") сутки
          tr
            td.col1
              p Велосипед дорожный
            td
              p 70
            td
              p 300
            td
              p 500
          tr
            td.col1
              p Велосипед горный
            td
              p 100
            td
              p 300
            td
              p 500
          tr
            td.col1
              p Велосипед горный
            td
              p 100
            td
              p 300
            td
              p 500
          tr
            td.col1
              p Велосипед горный
            td
              p 100
            td
              p 300
            td
              p 500
          tr
            td.col1
              p Велосипед горный
            td
              p 100
            td
              p 300
            td
              p 500
          tr
            td.col1
              p Велосипед горный
            td
              p 100
            td
              p 300
            td
              p 500
          tr
            td.col1
              p Велосипед горный
            td
              p 100
            td
              p 300
            td
              p 500
          tr
            td.col1
              p Велосипед горный
            td
              p 100
            td
              p 300
            td
              p 500
          tr
            td.col1
              p Велосипед горный
            td
              p 100
            td
              p 300
            td
              p 500
          tr
            td.col1
              p Велосипед горный
            td
              p 100
            td
              p 300
            td
              p 500
          tr
            td.col1
              p Велосипед горный
            td
              p 100
            td
              p 300
            td
              p 500
          tr
            td.col1
              p Велосипед горный
            td
              p 100
            td
              p 300
            td
              p 500
          tr
            td.col1
              p Велосипед горный
            td
              p 100
            td
              p 300
            td
              p 500
          tr
            td.col1
              p Велосипед горный
            td
              p 100
            td
              p 300
            td
              p 500
          tr.lastrow
            td
            td
            td
            td

        h4 ПРОКАТ РОЛИКОВ И САМОКАТОВ
        p В нашем прокате мы предлагаем большой выбор роликовых коньков на любой вкус и цвет. В нашем прокате имеются как детские так и взрослые ролики разных размеров. Для самых маленьких деток у нас даже есть специальные, веселые ролики с подсветкой колес. В наличии всегда имеются ролики начиная с 28 размера и заканчивая 44 размером.
        p Полный комплект защиты выдается всем клиентам абсолютно бесплатно !
        table
          thead
            tr
              td.col1
              td
                p(title="Час – это час. Минимальный срок аренды оборудования в нашем прокате.") час
              td
                p(title="День – это неограниченное количество прокатных часов во временном промежутке с 9:00 до 21:00.") день
                  span(title="Ночь – это почти как день только, наоборот - с 21:00 до 9:00.") /ночь
              td
                p(title="Сутки – в нашем вело-прокате действуют очень необычные сутки - в наших сутках не 24 часа, а целых 36 - это значит, что когда вы берете велосипед на сутки вы можете арендовать его утром одного дня, а вернуть вечером следующего. Другими словами наши сутки - это два дня + ночь. Мы не на олимпе и конечно же не боги, но в отдельных случаях мы можем управлять временем, и сдвигать его рамки.") сутки
          tr
            td.col1
              p Велосипед дорожный
            td
              p 70
            td
              p 300
            td
              p 500
          tr
            td.col1
              p Велосипед горный
            td
              p 100
            td
              p 300
            td
              p 500
          tr
            td.col1
              p Велосипед горный
            td
              p 100
            td
              p 300
            td
              p 500
          tr
            td.col1
              p Велосипед горный
            td
              p 100
            td
              p 300
            td
              p 500
          tr
            td.col1
              p Велосипед горный
            td
              p 100
            td
              p 300
            td
              p 500
          tr
            td.col1
              p Велосипед горный
            td
              p 100
            td
              p 300
            td
              p 500
          tr
            td.col1
              p Велосипед горный
            td
              p 100
            td
              p 300
            td
              p 500
          tr
            td.col1
              p Велосипед горный
            td
              p 100
            td
              p 300
            td
              p 500
          tr
            td.col1
              p Велосипед горный
            td
              p 100
            td
              p 300
            td
              p 500
          tr
            td.col1
              p Велосипед горный
            td
              p 100
            td
              p 300
            td
              p 500
          tr
            td.col1
              p Велосипед горный
            td
              p 100
            td
              p 300
            td
              p 500
          tr
            td.col1
              p Велосипед горный
            td
              p 100
            td
              p 300
            td
              p 500
          tr
            td.col1
              p Велосипед горный
            td
              p 100
            td
              p 300
            td
              p 500
          tr
            td.col1
              p Велосипед горный
            td
              p 100
            td
              p 300
            td
              p 500
          tr.lastrow
            td
            td
            td
            td

        h4 ДОПОЛНИТЕЛЬНЫЕ УСЛУГИ
        p По предварительной договоренности.
        table.additionalservice
          thead
            tr
              td.col1.nocolor
              td.col2
                p.nofeatures стоимость, руб
          tr.act
            td.col1_1
              p Доставка (один велосипед в одну сторону)
            td.col2
              p 70
          tr(style="display:none;").noact
            td(colspan="2").col1
              p Для тех, кто запланировал для себя какое-либо особое интересное место или же просто хочет навернуть пару «круголей» возле дома — за скромное вознаграждение в размере 100 рублей за один велик мы доставим его к вам или же, наоборот, заберем.
          tr.act
            td.col1_1
              p Велотакси (один человек + один велосипед)
            td.col2
              p 100
          tr(style="display:none;").noact
            td(colspan="2").col1
              p Для Вашего удобства в нашем велопрокате работает велотакси. Это значит, что за определенную плату мы можем доставить вас с вашим любимым велосипедом откуда угодно и куда угодно.
          tr.act
            td.col1_1
              p Обучение (час занятий с инструктором)
            td.col2
              p 150
          tr(style="display:none;").noact
            td(colspan="2").col1
              p Вы давно мечтаете научиться кататься на велосипеде — вы по адресу. Под пристальным наблюдением и чутким руководством нашего инструктора вы воплотите свою мечту в реальность. Наш инструктор посвятит вас в теорию устройства велосипеда, объяснит основы безопасности катания и проведет с вами или ваши ребенком столько занятий, сколько будет необходимо вам или вашему чаду для того, чтобы научиться кататься.
          tr.act
            td.col1_1
              p Велоэкскурсии по Ростову-на-Дону и области
            td.col2
              p 150
          tr(style="display:none;").noact
            td(colspan="2").col1
              p Для гостей города наш велопрокат организует велосипедные экскурсии по историческому центру города Ростов-на-Дону. Опытный экскурсовод откроет вашему вниманию интереснейшие факты из истории города. Во время экскурсии вы побываете на старинных улочках Ростова, познакомитесь с его историей и архитектурой. Стоимость экскурсии 700 р. Продолжительность 3-4 часа. В стоимость входит доставка и возврат велосипеда до места сбора. В конце экскурсии вас будет ждать небольшой сувенир на память. Для иностранных гостей имеется возможность проведения экскурсии на английском языке.
          tr.act
            td.col1_1
              p Корпоративные выезды
            td.col2
              p 150
          tr(style="display:none;").noact
            td(colspan="2").col1
              p Один из самых актуальных видов отдыха в теплое время года — корпоративный выезд на природу. Общение с природой очень благоприятно влияет на состояние души, помогает в преодолении любого стресса, прекрасно успокаивает нервную систему. Чистый воздух, зеленые леса и широкие поля, журчание маленьких рек и беззаботное щебетание птиц: все это создаст позитивную атмосферу и поможет Вам отдохнуть от рабочих будней.<br> Ничто не влияет так благотворно на настроение Ваших сотрудников, как дружеское общение с коллегами и партнерами на природе! <br> В вело-выезд входит:
                ul
                  li — Транспортировка участников выезда к месту отдыха.
                  li — Транспортировка велосипедов.
                  li — Велосипедная прогулка с проводником-инструктором.
                  li — Посиделки возле костра.
                  li — Транспортировка участников выезда к дому.
          tr.act
            td.col1_1
              p Мойка велосипеда
            td.col2
              p 100
          tr(style="display:none;").noact
            td(colspan="2").col1
              p После тяжелого катания по неизведанным маршрутам вам может понадобиться очистка велосипеда от грязи и прочего ненужного напыления, чтобы в чистом виде затащить свой велосипед к себе же в дом. Исключительно основываясь на аккуратности и внимательном отношении к велосипедам, на нашей базе работает мойка велосипедов. Все свои велосипеды мы содержим в чистоте и порядке, так же можем поухаживать и за вашим транспортным средством. Если вам это будет необходимо.
          tr.lastrow
            td
            td


    .social.relative
      .footer.relative
        .inner
          .left
            p служба проката.
            p Ростов-на-Дону.
          .middle
            p заказ по телефону
            p 256-43-26
          .right
            .bag
              .icon
                include assets/i/check.svg

              p оформить
              p заказ
      .inner
        .vk
          a.logo(src="vk.com/prokatvrostove")
            img(src="i/vk.png")
          script(type='text/javascript', src='//vk.com/js/api/openapi.js?113')
          #vk_groups
          script.
            VK.Widgets.Group("vk_groups", {
              mode: "0",
              width: "300",
              height: "360",
              color1: "307cbc",
              color2: "FFFFFF",
              color3: "ffffff"
            }
            , 10802362);

        .like
          img(src="i/likeit.png")

        .fb
          .people 555 people like
          .container
            iframe(src='//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fprokatvrostove&width=380&height=380&colorscheme=dark&show_faces=true&header=false&stream=false&show_border=false&appId=216056395225405', scrolling='no', frameborder='0', style='border: none; overflow: hidden; width: 300px; height: 258px;', allowtransparency='true')
