doctype html
head
  meta(name="viewport" content="width=device-width")

  link(rel="stylesheet" href="stylesheets/app.css")

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")

  script.
    require('js/initialize');
    require('js/catalog');



body
  .safety
    .menu
      .inner
        ul
          li
            a(href="catalog.html") прокат
          li
            a(href="terms.html") инфо
          li
            a(href="gallery.html") галерея
          li
            a(href="contacts.html") контакты
        .logo
          a(href="index.html")
            img(src="/i/logo.png")
    .submenu.fix
      .inner
        ul
          li
            a(href="terms.html") условия
          li
            a(href="price.html") прайс
          li
            a(href="safety.html") инструкция по безопасности
    .content
      .inner
        h4 ИНСТРУКЦИЯ ПО БЕЗОПАСНОСТИ ПРИ ЕЗДЕ НА ВЕЛОСИПЕДЕ
        ul
          li Старайтесь всегда надевать шлем при езде на велосипеде. Использование шлема защитит Вас и Вашу голову от возможных травм. Велосипедный шлем должен соответствовать стандартам безопасности и что не маловажно,  быть удобным. Помните, что в нашем прокате шлем и защита всегда выдаються абсолютно бесплатно.Одевайтесь ярко, желательно использование специализированной велоодежды.
          li Для защиты глаз рекомендуется надевать защитные очки или специализированную велосипедную маску.
          li Никогда не слушайте плеер или радиоприёмник слишком громко во время езды. Это отвлекает вас от происходящего на дороге, что может быть очень опасно.
          li Велосипедист являетесь участником движения, управляющим транспортным средством,поэтому необходимо знать и выполнять все требования правил дорожного движения. Пдчиняйтесь сигналам светофоров, требованиям дорожной разметки, дорожных знаков; ездите только в разрешенном направлении по улицам (дорогам) с односторонним движением и т.д.
          li Контролируйте вашу скорость движения. Скорость движения должна зависеть от состояния дороги и опыта велосипедиста, и не должна превышать норм и правил установленных на той или иной трассе.
          li Обязательно подавайте сигналы рукой при поворотах, торможении и остановке: Вытянутая налево левая рука означает поворот налево, согнутая в локте вверх левая рука означает поворот направо, опущенная вниз левая рука означает остановку.
          li Держитесь правой стороны дороги, по возможности совершайте движение по обочине. Никогда не пользуйтесь полосой встречного движения.
          li Не катайтесь вдвоём на велосипеде, геометрия рамы которого и компоненты не предназначены для удвоенной нагрузки. Для парных прогулок используйте велосипед тандем, которыйвы без труда можетеарендовать прямо на нашем сайте.
          li Всегда внимательно следите за дорогой: решётки водостока, мягкие и глубокие обочины, ямы и рытвины могут стать причиной аварий и, как следствие, травм. Преодолевать железнодорожное полотно, трамвайные пути или решётки водостока нужно очень осторожно, направляя велосипед под углом 90°. Если у Вас нет уверенности в состоянии дороги, лучше преодолейте препятствие или такой участок дороги, пешим ходом.
          li Особенно внимательность необходимо проявлять на автомобильныхдорогах. Нельзя забывать о том, что велосипедисты менее заметны на дороге, чем автомобили и мотоциклисты. Использование габаритных сигналов, звонков и велоодежды со специальными отражающими полосками снизит возможность опасных ситуаций на дороге. Необходимо также научиться останавливать велосипед в любой момент.
          li Расчитывайте тормозной путьф и всегда соблюдайте необходимую для остановки дистанцию. Соотносите необходимый тормозной путь и усилия торможения с состоянием дороги.
          li Крепко держите руль. Не следует ездить, не придерживая руль руками. Лучше использовать грипсы (ручки на руле), которые помогут предотвратить потерю управления велосипедом даже при малейших неровностях дорог.Не вешайте на руль лишние предметы - пакеты, сумки и прочее. Следует избегать использования предметов, свободно свисающих с руля. Они могут попасть в спицы или спровоцировать непрогнозируемый поворот руля.
          li В случае группового велокатания, несколько велосипедистов должны двигаться в колонну по одному.
          li Запрещено ездить на велосипеде после приема медикаментов, нарушающих координацию движений или влияющих на скорость реакции. Так же, запрещается езда в состоянии алкгольного или наркотического опьянения.
          li Даже соблюдая все правила движения, будьте предельно внимательны, так как не все участники дорожного движения обладают большим опытом и хорошо знают правила движения велосипедов.


    .social.relative
      .footer.relative
        .inner
          .left
            p служба проката.
            p Ростов-на-Дону.
          .middle
            p заказ по телефону
            p 256-43-26
          .right
            .bag
              .icon
                include assets/i/check.svg

              p оформить
              p заказ
      .inner
        .vk
          a.logo(src="vk.com/prokatvrostove")
            img(src="i/vk.png")
          script(type='text/javascript', src='//vk.com/js/api/openapi.js?113')
          #vk_groups
          script.
            VK.Widgets.Group("vk_groups", {
              mode: "0",
              width: "300",
              height: "360",
              color1: "307cbc",
              color2: "FFFFFF",
              color3: "ffffff"
            }
            , 10802362);

        .like
          img(src="i/likeit.png")

        .fb
          .people 555 people like
          .container
            iframe(src='//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fprokatvrostove&width=380&height=380&colorscheme=dark&show_faces=true&header=false&stream=false&show_border=false&appId=216056395225405', scrolling='no', frameborder='0', style='border: none; overflow: hidden; width: 300px; height: 258px;', allowtransparency='true')
