doctype html
head
  meta(name="viewport" content="width=device-width")

  link(rel="stylesheet" href="stylesheets/app.css")

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")

  script.
    require('js/initialize');
    require('js/catalog');



body
  .terms
    .menu
      .inner
        ul
          li
            a(href="#") прокат
          li
            a(href="#") инфо
          li
            a(href="#") галерея
          li
            a(href="#") контакты
        .logo
         img(src="/i/logo.png")
    .submenu.fix
      .inner
        ul
          li
            a(href="#") условия
          li
            a(href="#") прайс
          li
            a(href="#") инструкция по безопасности
    .content
      .inner
        h4 ДРУЖЕЛЮБНЫЕ УСЛОВИЯ
        p 1. Для того чтобы выдать Вам велосипед в прокат, нам необходимо удостоверить Вашу личность, поэтому наши клиенты добровольно и по собственному желанию предъявляют и оставляют в залог документы.
        p 2. Перед получением велосипеда, клиент совместно с работником проката проводит проверку оборудования, на предмет дефектов или неисправностей. В нашем прокате клиенты получают только качественные и проверенные велосипеды, без поломок и неисправностей.
        p 3. Все клиенты проходят инструктаж по технике безопасности при езде на велосипеде, а так же ознакамливаються с правилами дорожного движения для велосипедистов.
        p 4. Перед Вашим отъездом из велопроката, администор пункта проката делает Ваше красивое фото с красивым велосипедом, и Вы отправляетесь в путь.
        p 5. Заполучив в свои надежные руки велосипед, наш клиент обязуется использовать его аккуратно и бережно. В случаях если надежные руки нашего клиента все же не смогли предотвратить повреждение велосипеда мы оставляем за собой право удержать залоговые документы до полного возмещения стоимости ремонта. В случае потери велосипеда или полного его уничтожения по вине клиента, клиент обязуется оплатить его полную стоимость.
        p 6. Все наши клиенты перед получением велосипеда в прокат, проходят тщательную визуальную диагностику на предмет адекватности и осознанности всех рисков связанных с передвижением на двухколесном транспортном средстве, поэтому клиент понимает весь груз ответственности за свои действия - осознает и принимает на себя риск связанный с эксплуатацией велосипеда. Прокат не несет ответственность за жизнь и здоровье клиента.
        h4 УДОБНЫЙ ЗАЛОГ
        p В залог взятого напрокат велосипеда Вам необходимо будет оставить копию паспорта со страницей прописки, а так же оригинал любого документа удостоверяющего личность. Копию паспорта Вы сможете сделать , сразу на любом из пунктов проката.
        p Любым залоговым документом может являться студенческий или ученический билет, водительские права любой категории, страховое свидетельство, военный билет, удостоверение с места работы.
        p В частных случаях рассматриваются и другие формы залога.
        h2 6
        h3 ПРОСТЫХ ПРАВИЛ
        p нашего проката
        .pictures
          img(src="i/term_1.png")
          img(src="i/term_2.png")
          img(src="i/term_3.png")
          img(src="i/term_4.png")
          img(src="i/term_5.png")
          img(src="i/term_6.png")
          p то что взяли не ломать!
          p сломали — не врать
          p велосипед не бросать
          p на велосипеде в машины не въезжать
          p соблюдать правила дорожного движения
          p то, что взяли, то и возвращать




    .social.relative
      .footer.relative
        .inner
          .left
            p служба проката.
            p Ростов-на-Дону.
          .middle
            p заказ по телефону
            p 256-43-26
          .right
            .bag
              .icon
                include assets/i/check.svg

              p оформить
              p заказ
      .inner
        .vk
          a.logo(src="vk.com/prokatvrostove")
            img(src="i/vk.png")
          script(type='text/javascript', src='//vk.com/js/api/openapi.js?113')
          #vk_groups
          script.
            VK.Widgets.Group("vk_groups", {
              mode: "0",
              width: "300",
              height: "360",
              color1: "307cbc",
              color2: "FFFFFF",
              color3: "ffffff"
            }
            , 10802362);

        .like
          img(src="i/likeit.png")

        .fb
          .people 555 people like
          .container
            iframe(src='//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fprokatvrostove&width=380&height=380&colorscheme=dark&show_faces=true&header=false&stream=false&show_border=false&appId=216056395225405', scrolling='no', frameborder='0', style='border: none; overflow: hidden; width: 300px; height: 258px;', allowtransparency='true')
