file(name, ext, path)
  path + '/' + name + '.' + ext

font-face(family, font=family, path='../fonts')
  @font-face
    font-family family
    src url(file(font, 'eot', path))
    src url(file(font, 'eot?#iefix', path)) format("embedded-opentype"),url(file(font, 'woff', path)) format("woff"),url(file(font, 'ttf', path)) format("truetype"),url(file(font, 'svg#' + family, path)) format("svg")
    font-weight normal
    font-style normal

font-face('Gals','gals')
font-face('Helvetica','helvetica')
font-face('Gill','gil')


@import 'nib'


  //background rgba(33,33,33,0.1)
body
  font-family "Gill" !important

@media (max-width: 960px)
  .fixed
    position relative !important
.menu
  height 130px
  background #307cbc
  text-align center
  position relative
  color #fff
  text-transform uppercase
  font-size 13px
  ul
    margin 0 auto
    display inline-block
    li
      display inline-block
      width 80px
      margin-top 56px
      margin-left 24px
      &:nth-child(3)
        margin-left 168px
      &:nth-child(1)
        margin-left 0px
  .logo
    position absolute
    left 50%
    top 50%
    transform translate(-50%,-50%)
    margin-top 8px
.menu_fix
  padding-bottom 36px

.submenu
  height 36px
  background #000
  text-align center
  font-size 14px

  ul
    margin-left 25px
    clearfix()
    li
      float left
      transition all 0.25s ease-in-out
      margin 0
      a
        transition all 0.25s ease-in-out
        display inline-block
        padding 11px 35px 11px 35px
        &:visited
          color #fff
        &:hover
          color #000
      &:hover
        background #fff
        color #000
&.fixed
  position fixed
  top 0
  z-index 999
  width 100%
  min-width 960px

.categories
  text-align center
  ul
    display inline-block
    margin-top 33px
    li
      display inline-block
      margin 0 7px 0 7px
      a
        transition all 0.25s ease-in-out
        color #939393
        display inline-block
        padding 4px 8px 4px 8px
        background #fff
        font-size 13px
        &:visited
          color #939393
        &:hover
          background #000
          color #fff

.bikes
  clearfix()
  .bike
    position relative
    overflow hidden
    float left
    width 470px
    height 370px
    text-align center
    padding-top 100px
    cursor pointer
    img
      height 300px
      margin-top 0px
      transition transform 0.8s linear, margin 0.4s ease,height 0.5s ease
    p.model
      margin-top 32px
      font-size 26px
      position: absolute
      left 50%
      transform translateX(-50%)
      bottom 5px
      transition all 0.4s
    h3
      position absolute
      top 120px
      left 0
      color 000
      width 470px
      font-size 38px
      opacity 0
      transition opacity 0.4s ease, color 0.2s ease
      &:hover
        color #307cbc
        cursor pointer
    p.text
      position absolute
      top 208px
      left 50%
      width 420px
      margin-left -210px
      font-size 12px
      opacity 0
      transition all 0.4s ease
    .button
      position absolute
      z-index 21
      bottom 28px
      width 150px
      left 50%
      margin-left -75px
      background #000
      color #fff
      font-size 12px
      padding 6px 0
      cursor pointer
      opacity 0
      transition all 0.4s ease

    &:hover
      h3
        opacity 1
      p.model
        opacity 0
      img
        height 110px
        margin-top 190px
      .button
        opacity 1
      p.text
        opacity 1
.content
  padding-bottom 50px
  height auto !important
  width auto !important
.footer
  .inner
    height 48px
  height 48px
  width 100%
  min-width 960px
  position: fixed
  background #307cbc
  z-index 100
  bottom 0
  font-size 11px
  text-transform uppercase
  .left
    position absolute
    left 182px
  .middle
    position absolute
    left 50%
    text-align center
    transform translateX(-50%)
    p:nth-child(2)
      font-size 16px
      letter-spacing 0.05em

  .right
    position absolute
    right 182px
    width 180px
    text-align right
    .bag
      height 30px
      padding-top 3px
      &.full
        cursor pointer
    clearfix()
    p
      text-align right
      margin-right: 27px
    .icon
      position relative
      z-index 105
      right 0
      margin-top -1px
      width 19px
      height 19px
      float right
      border 2px solid #fff
      background #307cbc
      text-align center
      vertical-align middle
      border-radius(500px)
      transition opacity 0.25s ease
      svg
        opacity 0
        margin-top -5px
        width 25px
        height 25px

  >.inner> div
    margin-top 12px
  p
    line-height 1.1em
.social
  padding-top 48px
  height 630px
  width 100%
  min-width 960px
  background #307cbc
  position relative
  color #fff
  >.inner
    background #307cbc
    height 582px
    .vk
      width 334px
      margin 0 34px
      height 330px
      float left
      border 2px solid #fff
      margin-top 130px
      position relative
      overflow hidden
      a.logo
        position absolute
        top 7spx
        left 42px
        z-index 30
        img
          width 25px
          height 25px
      #vk_groups
        position absolute
        top -36px
        left 16px
    .like
      width 128px
      height 200px
      float left
      margin-top 80px
      text-align center
    .fb
      width 334px
      margin 0 34px
      height 330px
      float left
      border 2px solid #fff
      margin-top 130px
      position relative
      overflow hidden
      .people
        z-index 30
        background #307cbc
        top 95px
        left 23px
        position absolute
        font-size 11px
        font-family: 'Helvetica Neue', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
      .container
        top 18px
        left 14px
        position absolute
        width 360px
        height 360px


.relative
  position relative
  padding-top 0px

.coin
  opacity 0
  width 24px
  height 24px
  position fixed
  background #307cbc url(../i/logo.png)
  background-size 24px 24px
  z-index 101
  border-radius 500px
  //transition opacity 0.3s ease, top 1s cubic-bezier(0.215, -0.600, 1.000, -0.105), left 1s ease









