@import 'nib'

global-reset()

font-face(family, font=family, path='../fonts')
  @font-face
    font-family family
    src url(file(font, 'eot', path))
    src url(file(font, 'eot?#iefix', path)) format("embedded-opentype"),url(file(font, 'woff', path)) format("woff"),url(file(font, 'ttf', path)) format("truetype"),url(file(font, 'svg#' + family, path)) format("svg")
    font-weight normal
    font-style normal

font-face('Gals','gals')
font-face('Helvetica','helvetica')
font-face('Gill','gil')


body
  font-family "Gill"
  color #000
  min-width 960px
  a
    cursor pointer
    text-decoration none
    color #fff
    &:visited
      color #fff


.inner
  position relative
  width 940px
  height 100%
  margin 0 auto

.main
  background: linear-gradient(to top, #64d2f2, #307cbc)
  min-height 450px
  height 100%
  position absolute
  width 100%
  z-index 2
  overflow hidden
  .top_spacer
    width 940px
    height 0px
  .centr_container
    position relative
    width 940px
    height auto
    .disp
      display block !important
    .arrow
    	height 80px
    	width 40px
    	position absolute
    	top 180px
    	z-index: 55;
      cursor: pointer;
    .arrow
      opacity 0.7
      &:hover
        opacity 1.0
    .left_arrow
      background: url(../i/strela.svg) no-repeat center center
      background-size 100% 100%
      transform rotate(180deg)
      display none
      left 10px
    .right_arrow
      background: url(../i/strela.svg) no-repeat center center
      background-size 100% 100%
      right 10px
      display none
    .dot_block
      width 165px
      height 30px
      position absolute
      top 420px
      left 50%
      transform translate(-50%,0)
      ul
      margin 0 auto
      margin-left 5px
      display inline-block
      li
        display inline-block
        width 15px
        height 15px
        margin-top 5px
        margin-left 5px
        &:nth-child(1)
          margin-left 0px
        .dot
          width 5px
          height 5px
          background white
          border 2px solid white
          border-radius 25px
          cursor pointer
          transition background 0.3s ease, height 0.3s ease, width 0.3s ease, margin-left 0.3s ease, margin-top 0.3s ease
          &:active
            width 13px !important
            height 13px !important
            border 2px solid white
            border-radius 25px
            background none
            margin-top -4px !important
            margin-left -4px !important
          &:hover
            width 8px
            height 8px
            border 2px solid white
            border-radius 25px
            margin-top -2px
            margin-left -2px
        .active
          width 13px !important
          height 13px !important
          border 2px solid white
          border-radius 25px
          background none
          margin-top -4px !important
          margin-left -4px !important
    .title
    	p
       font-size 160px
       text-align center
       color #fff
       z-index 49
       position absolute
     	 top 10px
       transform translate(-50%,0)
       margin-top 120px
       font-family "Helvetica"
       left -150%
      .first
        p
          left 50%
      .ph_v
        p
          top 50px
          font-size 90px
          height 120px
          width 450px
    .slide
      position absolute
      .namer
        opacity 0
      &:nth-child(1)
        opacity 1

    .bikes
      left 50%
      ._content
        background: url(../i/bike.png) no-repeat center center
    .rolls
      left -150%
      ._content
        background: url(../i/rolls.png) no-repeat center center
    .scooters
      left -150%
      ._content
        background: url(../i/scooters.png) no-repeat center center
    .snowboards
      left -150%
      ._content
        background: url(../i/snowboards.png) no-repeat center center
    .photo_video
      left -150%
      ._content
        background: url(../i/photo_video.png) no-repeat center center
    .tourism
      left -150%
      ._content
        background: url(../i/tourism.png) no-repeat center center
    .rest
      left -150%
      ._content
        background: url(../i/rest.png) no-repeat center center
    .namer
       width 120px
       height 40px
       position absolute
     	 top 370px
       left 50%
       transform translate(-50%,0)
       color #fff
       text-align center
       line-height 1.5
       font-family Gals
       .name
       	p
       	  font-size 16px
       .allmodel
       	p
       	  font-size 12px

   ._content
     height 400px
     width 640px
     position absolute
     top 10px
     left 50%
     transform translate(-50%,0)
     z-index 50


.menu.index
	z-index 3
	background none
  float bottom
