file(name, ext, path)
  path + '/' + name + '.' + ext

@import 'nib'

body
  .safety
    .submenu
      ul
        li
          &:nth-child(1)
            margin-left 250px
    .content
      .inner
        h4
          font-size 24px
          font-family Gals
          font-weight bold
          width 680px
          margin-left 170px
          margin-top 70px
          line-height 1.2
        ul
          margin-top 60px
          padding-bottom 80px
          list-style-type disc
          li
            width 680px
            margin-left 170px
            margin-top 20px
            line-height 1.2
            font-family Gill
            font-size 18px
