.modal_window
  .transpbg
  .content
    h3 Оформление заказа
    .leftar
      include ../assets/i/strela.svg
    .wrapper
      .slider
        .scroller

    .rightar
      include ../assets/i/strela.svg
    form.sendbag
      input(type="text" name="name" placeholder="имя" )
      input(type="text" name="phone" placeholder="телефон")
      input(type="text" name="date" placeholder="дата")
      input(type="text" name="cardnumber" placeholder="номер карты")
    .sendform поехали!
